/* Estilo básico do body */
body {
    font-family: Consolas, monospace;
    margin: 0;
    padding: 0;
    background-color: #aef3ff;
}

section {
    flex: 1;
    background-color: #cff8ff;
    padding: 0.01%;
    border-radius: 10px;
    text-align: center;
    min-width: 100px;
    margin-right: 40%;
    margin-left: 40%;
    padding-left: 10px;
    padding-right: 10px;
}

/* Estilo da logo */
.logo {
    display: flex;
    justify-content: center;    
    margin-bottom: 0;
}

.logo img {
    height: 230px;
    width: auto;
    padding: 0px;
    margin-top: 0.5%;
}

h2 {
    font-size: 250%;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 8%;
}

label {
    font-size: 130%;
    text-align: left;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 34px;
}

input[type="text"] {
    margin-bottom: 8%;
    padding: 10px;
    border: 0;
    width: 70%;
}

/* Estilo do botão */
input[type="button"] {
    margin-bottom: 8%;
    background-color: #398594;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    width: 40%;
}

input[type="button"]:hover {
    background-color: #0d4753;
    color: white;
    cursor: pointer;
}

input[type="button"]:active {
    transform: scale(0.95); /* Reduz o tamanho do botão em 5% */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Remove ou diminui a sombra ao clicar */
}