@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
	  <link rel="stylesheet" href="~/css/cadFunc.css">

</head>

<main class="content-container">

		 <section class="left-section col">
			<p>Cadastro de</p>
			<h1><strong>Funcionário</strong></h1>
			<input type="button" class="btn" name="btnEnviar" value="Enviar">
		 </section>

		 <section class="right-section col">
			<main class="input-container">
			   <section class="text-section">
			   </section>
			   <div class="input-group-sm mb-3">
				   <br />
				  <label class = "form-label" >Nome</label>
				  <input type="text" name="Nome">
				  <label class = "form-label" >Cargo</label>
				  <input type="text" name="Cargo">
			   </div>
			   <section class="file-section">
				  <label for="foto-upload">Foto</label>
				  <br>
				  <div class="upload-container">
					 <label for="foto-upload" class="custom-button"><i class="fas fa-plus"></i></label>
					 <input type="file" id="foto-upload" name="foto-upload" accept=".jpg,.jpeg,.png">
					 <p class="texto-upload">Faça o upload do arquivo</p>
				  </div>
			   </section>

</main>
