@model List<FuncionarioViewModel>
@{
    ViewData["Title"] = "Listagem de Funcionarios";

}
<head>
    <link rel="stylesheet" href="~/css/listagens.css">
</head>

<main class="container">
    <div class=" row titulo" titulo>Lista de Funcionários</div>
    <br />

    <div class="container">
        <fieldset id="areaFiltro" class="form-group  main-section">
            <legend>Filtro de pesquisa</legend>
            <div class="row linha" style="height:70px;">
                <!--Adicionando o nome-->
                <div class="col-md-6">
                    <b>Nome</b><br />
                    <input type="text" id="nome" class="form-control" />
                </div>
                <!--Adicionando o cargo-->
                <div class="col-md-6">
                    <b>Cargo</b> <br />
                    <input type="text" id="cargo" class="form-control" />
                </div>
            </div>
            <div class="row linha" style="height:70px;">
                <!-- Data Inicial -->
                <div class="col-md-6">
                    <b>Período de Contratação</b> <br />
                    Data Inicial<br />
                    <input type="date" class="form-control form-control-sm mt-0" id="dataInicial" value="@(new DateTime(1753, 1, 1).ToString("yyyy-MM-dd"))" />
                </div>
                <!-- Data Final -->
                <div class="col-md-6">
                    <br />
                    Data Final<br />
                    <input type="date" class="form-control form-control-sm mt-0" id="dataFinal" value="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex align-items-center">
                    <input type="button" name="pesquisar" id="pesquisar" value="Pesquisar"
                           onclick="pesquisar()" class="btn btn-primary btn-sm w-100" />
                </div>
            </div>
        </fieldset>
    </div>
    <div id="resultadoConsulta" class="table-responsive">
    </div>

    <br />
    <br />
    <br />
</main>



<script>
    function apagar(id) {
        if (confirm('Deseja apagar?'))
            location.href = '/funcionario/delete?id=' + id;
    }
    document.addEventListener("DOMContentLoaded", function () {

        // Executar a pesquisa inicial
        pesquisar();
    });
    function pesquisar() {
        var vDataInicial = document.getElementById('dataInicial').value;
        var vDataFinal = document.getElementById('dataFinal').value;

        var vNome = document.getElementById('nome').value;
        var vCargo = document.getElementById('cargo').value;

        $.ajax({
            url: "/funcionario/BuscaAvancada",
            data:
            {
                data_hora_inicial: vDataInicial, data_hora_final: vDataFinal,
                cargo: vCargo, nome: vNome
            },
            success: function (dados) {
                if (dados.erro != undefined) {
                }
                else {
                    document.getElementById('resultadoConsulta').innerHTML = dados;
                }
            }
        })
    }
</script>