@model List<FuncionarioViewModel>
@{
    ViewData["Title"] = "Listagem de Funcionarios";

}
<head>
    <link rel="stylesheet" href="~/css/listagens.css">
</head>

<main class="container">
    <fieldset id="areaFiltro" class="form-group">
        <legend>Consulta avançada de Funcionarios</legend>
        <div class="row">
            <div class="col-lg-4">
                Nome<br />
                <input type="text" id="nomne" class="form-control" />
            </div>
            <div class="col-lg-3">
                Cargo <br />
                <input type="text" id="Cargo" class="form-control" />
            </div>
            <div class="col-lg-2">
                Período contratado <br />
                <input type="date" id="dataInicial" class="form-control" />
            </div>
            <div class="col-lg-2">
                <br />
                <input type="date" id="dataFinal" class="form-control" />
            </div>
            <div class="col-lg-1">
                <br />
                <input type="button" name="pesquisar" id="pesquisar" value="Pesquisar"
                       onclick="pesquisar()" class="btn btn-primary btn-sm w-100" />
            </div>
        </div>
    </fieldset>

    <div id="resultadoConsulta" class="table-responsive">

        <br />
        <br />
        <br />
    </div>
</main>



<script>
    function apagar(id) {
        if (confirm('Deseja apagar?'))
            location.href = '/funcionario/delete?id=' + id;
    }
    document.addEventListener("DOMContentLoaded", function () {

        // Executar a pesquisa inicial
        pesquisar();
    });
    function pesquisar() {
        var vDataInicial = document.getElementById('dataInicial').value;
        var vDataFinal = document.getElementById('dataFinal').value;

        var vNome = document.getElementById('nome').value;
        var vCargo = document.getElementById('cargo').value;

        $.ajax({
            url: "/funcionario/BuscaAvancada",
            data:
            {
                data_hora_inicial: vDataInicial, data_hora_final: vDataFinal,
                cargo: vCargo, nome: vNome
            },
            success: function (dados) {
                if (dados.erro != undefined) {
                }
                else {
                    document.getElementById('resultadoConsulta').innerHTML = dados;
                }
            }
        })
    }
</script>