@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
      <link rel="stylesheet" href="~/css/listagens.css">

</head>
<main class="container">
        <div class=" row titulo" titulo>Lista de Funcionario</div>
        <br />
        <div class=" row main-section">
                <table class="table table-responsive">
                        <tr>
                             <th>Ações</th>
                             <th>ID</th>
                             <th>Nome</th>
                             <th>Cargo</th>
                             <th>Logo</th>

                        </tr>

                </table>
        </div>
    </main>