@model SitePBL.Models.EmpresaViewModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/cadFunc.css">

</head>
<main id="cadastro" class="content-container">
    <form class="form-container container row" method="post" enctype="multipart/form-data" action="Enviar">
        <section class="left-section col">
            <p>Cadastro de</p>
            <h1><strong>Empresa</strong></h1>
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input type="submit" class="btn btn-primary" role="button" name="btnEnviar" value="Enviar" />
        </section>

        <section class="right-section col row">

                <div class="input-group-sm mb-3 col">
                    <br />
                    <input type="hidden" name="id" value="@Model.id" />
                    <label class="control-label">Sede</label>
                    <input asp-for="sede" class="form-control" maxlength="500" />
                    <span asp-validation-for="sede" class="text-danger"></span>
                    <label class="form-label">Nome</label>
                    <input asp-for="nome" class="" maxlength="500" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
                <section class="file-section col" >
                    <label for="logo-upload">Logo</label>
                    <br>
                    <div class="upload-container">
                        <label for="logo-upload" class="custom-button"><i class="fas fa-plus"></i></label>
                        <input type="file" id="logo-upload" name="logo-upload" value="@Model.logo" accept=".jpg,.jpeg,.png">
                        <p class="texto-upload">Faça o upload do arquivo</p>
                    </div>
                </section>
        </section>
    </form>
</main>