@model List<EmpresaViewModel>
@{
    ViewData["Title"] = "Listagem de Empresas";

}
<head>
    <link rel="stylesheet" href="~/css/listagens.css">

</head>
<main class="container">
    <div class=" row titulo" titulo>Lista de Empresas</div>
    <br />
    <fieldset id="area_filtro" class="form-group main-section ">
        <legend>Filtro de pesquisa</legend>
        <div class="row">
            <div class="col">
                <input />
            </div>
            <div class="col">
                <input />
            </div>
        </div>
    </fieldset>
    <br />
    <div class=" row main-section">
        <table class="table table-responsive">
            <tr>
                <th>Ações</th>
                <th>ID</th>
                <th>Nome</th>
                <th>Sede</th>
                <th>Logo</th>
            </tr>

            @foreach (var empresa in Model)
            {
                <tr>
                    <td>
                        <a href="/empresa/edit?id=@empresa.id" role="button" class="btn btn-primary">Editar</a>
                        &nbsp;&nbsp;
                        <a href="javascript:apagar(@empresa.id)" role="button" class="btn btn-danger">Excluir</a>
                    </td>
                    <td>@empresa.id</td>
                    <td>@empresa.nome</td>
                    <td>@empresa.sede</td>
                    <td>
                        <img src="data:image/png;base64,@empresa.foto64" alt="Foto" style="width: 50px; height: 50px;" />
                    </td>

                </tr>
            }
        </table>
    </div>
</main>

<script>
    function apagar(id) {
        if (confirm('Deseja apagar?'))
            location.href = '/Empresa/delete?id=' + id;
    }
</script>