<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SitePBL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SitePBL.styles.css" asp-append-version="true" />
      <title>Termo-Light</title>
      <link rel="stylesheet" href="../css/styles.css">
      <link rel="stylesheet" href="../css/cadFunc.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/Chart.bundle.min.js"></script>
    <script src="/js/charts.lib.js"></script>
    <script src="/js/default.js"></script>



</head>
<body>
      <header>
         <div class="logo">
            <h1><a href="/home" class="button"><img src="~/img/logo.png" class="img-fluid" alt="Termo Light logo" /></a></h1>
         </div>
         <nav class="navbar-brand">
            @if (ViewBag.Logado == true)
            {
                <ul>
                    <li><a href="/home" class="button">Home</a></li>
                    <li><a href="/home/sobre" class="button">Sobre</a></li>
                    <li><a href="/acesso/LogOff" class="button">Logoff</a></li>
                </ul>
            }
            else
            {
                <ul>
                    <li><a href="/acesso/Login" class="button">Login</a></li>
                </ul>
            }
         </nav>
      </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SitePBL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
