/* Container principal para divisão da tela */
.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-height: 100%;
}

/* Seção esquerda (texto) */
.left-section {
    flex: 1;
    margin-right: 0.5%;
    margin-left: 1%;
    text-align: left;
    min-width: 300px;
}

    .left-section h1 {
        font-size: 700%;
        margin: 0px;
    }


    /*Retirei por que tava bugando a pagina no aspnet */
    .left-section p {
        ///font-size: 450%;
        ///padding: 0px;
        ///margin: 0px;
    }

        .left-section p img {
            //height: 350px;
            //padding: 0px;
            //margin: 0px;
        }

/* Seção direita (tabela ou lista) */
.right-section {
    flex: 1;
    background-color: #e0ffda;
    border-radius: 10px;
    text-align: left;
    min-width: 200px;
    margin-right: 0.1%;
}

    .right-section h2 {
        font-size: 200%;
        margin-bottom: 10%;
        margin-top: 5%;
        margin-left: 5%;
    }

    .right-section ul {
        list-style: none;
        padding: 0;
        margin-left: 7%;
    }

        .right-section ul li {
            display: flex;
            align-items: center;
            margin-bottom: 5%;
            font-size: 140%;
            flex-wrap: wrap;
            word-wrap: break-word;
            word-break: break-word;
        }

            .right-section ul li a.button img {
                background-color: #e0ffda;
                height: 60px;
                margin-right: 10px;
            }

.no-link {
    color: black; /* Herdar a cor do elemento pai */
    text-decoration: none; /* Remover sublinhado */
    font-size: inherit; /* Garantir que herde o tamanho de fonte */
}

span .nolink {
    pointer-events: none
}

.dropdown a:hover {
    opacity: 0.5;
}

.dropdown-menu {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
}

/* Estilos herdados do pai */
.dropdown-menu {
    color: inherit; /* Herdar cor */
    font-family: inherit; /* Herdar fonte */
    font-size: 15px;
    text-decoration: none; /* Remover sublinhado */
    padding: 10px 15px;
    background-color: #e0ffda; /* Estilo de hover */
}

.dropdown-item:hover {
    color: inherit; /* Manter a cor do pai */
    background-color: #136c01; /* Estilo de hover */
}


/* Media query para telas menores (responsividade) */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Empilha as seções verticalmente em telas pequenas */
    }
}
