/* Container principal para divisão da tela */
.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-height: 100%;
}

/* Seção esquerda (texto) */
.left-section {
    flex: 1;
    margin-right: 0.5%;
    margin-left: 1%;
    text-align: left;
    min-width: 300px;
}

.left-section h1 {
    font-size: 700%;
    margin: 0px;
}

///Retirei por que tava bugando a pagina no aspnet
.left-section p {
    ///font-size: 450%;
    ///padding: 0px;
    ///margin: 0px;
}

.left-section p img {
    //height: 350px;
    //padding: 0px;
    //margin: 0px;
}

/* Seção direita (tabela ou lista) */
.right-section {
    flex: 1;
    background-color: #cff8ff;
    border-radius: 10px;
    text-align: left;
    min-width: 200px;
    margin-right: 0.1%;
}

.right-section h2 {
    font-size: 200%;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 5%;
}

.right-section ul {
    list-style: none;
    padding: 0;
    margin-left: 7%;
}

.right-section ul li {
    display: flex;
    align-items: center; 
    margin-bottom: 5%;
    font-size: 140%;
    flex-wrap: wrap; 
    word-wrap: break-word;
    word-break: break-word;
}

.right-section ul li a.button img {
    background-color: #cff8ff;
    height: 60px;
    margin-right: 10px;
}

/* Media query para telas menores (responsividade) */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Empilha as seções verticalmente em telas pequenas */
    }
}