/* Container principal para divisão da tela */
.content-container {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    min-height: 500px; /* Adiciona uma altura mínima */
}

/* Seção esquerda (texto) */
.left-section {
    flex: 1;
    margin-right: 0.01%;
    margin-left: 0.5%;
    text-align: left;
    min-width: 50%; /* Adiciona uma largura mínima */
}

.left-section h1 {
    font-size: 550%;
    font-family: Courier;
    margin: 0px;
    padding: 0px;
}

.left-section h1.termo {
    margin-bottom: 0px;
    margin-left: 33px;
}

.left-section p {
    font-size: 70px;
    padding: 0px;
    margin: 0px;
}

/* Seção direita (tabela ou lista) */
.right-section {
    flex: 1;
    background-color: #cff8ff;
    padding: 1%;
    border-radius: 10px;
    text-align: left;
    min-width: 50%;
    margin-right: 0.0001%;
}

.right-section p {
    font-size: 125%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Media query para telas menores (responsividade) */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Empilha as seções verticalmente em telas pequenas */
    }
}