/* Estilo básico do body */
body {
    font-family: Consolas, monospace;
    margin: 0;
    padding: 0;
    background-color: #9bed8b;
}

/* Estilo do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #136c01;
    padding: 10px 20px;
    height: 60px;
}

/* Estilo da logo */
.logo img {
    height: 80px;
    padding: 0px;
    margin-top: 15px;
}

/* Estilo do menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Estilo do menu */
nav ul {
    margin-right: 30px;
}

/* Estilo dos itens do menu */
nav ul li {
    margin-left: 50px;
    margin-right: 50px;
}

/* Estilo dos links */
    nav ul li a.button {
        background-color: #136c01;
        color: black;
        padding: 10px 20px;
        margin: 0px;
        height: 60px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 0px;
        transition: background-color 0.3s, color 0.3s, border 0.3s;
        font-family: 'Consolas', monospace;
    }

/* Efeito hover nos botões */
        nav ul li a.button:hover {
            background-color: #072b00;
            color: white;
            border: 0px solid;
            margin: 0px;
            height: 60px;
        }