@{
    ViewData["Title"] = "Home Page";
}
<head>
      <link rel="stylesheet" href="~/css/home.css">

</head>


    <main class="content-container">

        <div class ="col">
             <section class="left-section container">
                <h1><strong>Olá!</strong></h1>
                <p>Somos a</p>
                <p><img src="../img/LogoSimples.png" alt="Termo-Light"></p>
        </section>

         </div>

        <div class ="col">
            <section class="right-section ">
                <h2>O que deseja fazer?</h2>
                <ul>
                    <li class="dropdown">
                        <a href="" class="button"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/IconFormsFunc.png" alt="Cadastro Funcionário">
                            Cadastros
                            </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>                        </ul>
                    </li>
                    <li><a href="/acesso/form" class="button"><img src="~/img/IconFormsUser.png" alt="Cadastro Acesso"></a>Cadastrar novo Usuário</li>
                    <li><a href="/empresa/create" class="button"><img src="~/img/IconFormsEmpr.png" alt="Cadastro Empresa"></a>Cadastrar nova Empresa</li>
                    <li><a href="/Funcionario/Listagem" class="button"><img src="~/img/IconList.png" alt="Lista de Funcionários"></a>Listar de Funcionários</li>
                    <li><a href="/empresa/listagem" class="button"><img src="~/img/IconList.png" alt="Lista de Empresas"></a>Listar de Empresas</li>
                </ul>
            </section>

        </div>
  
    </main>
