@{
    ViewData["Title"] = "Home Page";
}
<head>
      <link rel="stylesheet" href="~/css/home.css">

</head>


    <main class="content-container">

        <div class ="col">
             <section class="left-section container">
                <h1><strong>Olá!</strong></h1>
                <p>Somos a</p>
                <p><img src="../img/LogoSimples.png" alt="Termo-Light"></p>
        </section>

         </div>

        <div class ="col">
            <section class="right-section ">
                <h2>O que deseja fazer?</h2>
                <ul>
                    <li><a href="/Funcionario/form" class="button"><img src="~/img/IconFormsFunc.png" alt="Cadastro Funcionário"></a>Cadastrar novo Funcionário</li>
                    <li><a href="/acesso/form" class="button"><img src="~/img/IconFormsUser.png" alt="Cadastro Acesso"></a>Cadastrar novo Usuário</li>
                    <li><a href="/empresa/form" class="button"><img src="~/img/IconFormsEmpr.png" alt="Cadastro Empresa"></a>Cadastrar nova Empresa</li>
                    <li><a href="/Funcionario/Listagem" class="button"><img src="~/img/IconList.png" alt="Lista de Funcionários"></a>Listar de Funcionários</li>
                    <li><a href="/empresa/listagem" class="button"><img src="~/img/IconList.png" alt="Lista de Empresas"></a>Listar de Empresas</li>
                    <li><a href="" class="button"><img src="~/img/IconList.png" alt="Lista de "></a>Listar de </li>

                </ul>
            </section>

        </div>
  
    </main>