@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
      <link rel="stylesheet" href="~/css/sobre.css">

</head>

 <main class="content-container">
        <section class="left-section">
            <p>Sobre a</p>
            <h1 class="termo"><strong>TERMO</strong></h1>
            <h1><strong>-LIGHT</strong></h1>
        </section>

        <section class="right-section">
            <p>
            <p>
            A <span class="highlight">Termo-Light</span> é um grupo fundado em Agosto de 2024 na Faculdade
            Engenheiro Salvador Arena por seis discentes: Adriana K. Kakazu, Lucas O. Silva, Beatriz dos S. Buglio,
            Vitória K. Kuriyama, Kaue dos Santos e Robson G. Ferrarezi.
             </p>
             <p>
            A empresa se especializa no desenvolvimento de soluções inteligentes baseadas 
            em <span class="highlight">IoT (Internet das Coisas)</span> para o controle e monitoramento
            térmico em estufas de secagem de motores elétricos.
             </p>
             <p>
            Nosso principal projeto consiste em um sistema avançado de monitoramento térmico que uti
            liza sensores conectados à plataforma <span class="highlight">FIWARE</span>, garantindo precisão
            no controle de temperatura em tempo real. Esse sistema não apenas otimiza a eficiência do processo de secagem,
            mas também promove sustentabilidade ao reduzir o consumo de energia.
             </p>
            <p>
            A interface do sistema foi desenvolvida em <span class="highlight">ASP.NET MVC</span>, permitindo fácil
            visualização e controle dos dados. O nosso site conta com telas de consulta avançada, dashboards com gráficos,
            controle de acesso via login, entre outras recursos.
             </p>
             <p>
            Focamos em <span class="highlight">eficiência energética</span> e alinhamento com os Objetivos de
            Desenvolvimento Sustentável (ODS), refletindo nosso compromisso com um futuro mais sustentável e eficiente.
            </p>
            </p>
        </section>
    </main>