@model SitePBL.Models.SensorViewModel
@{
    if(ViewBag.operacao == "I")
        ViewData["Title"] = "Cadastro de Sensores";
    else
        ViewData["Title"] = "Edição de Sensores";

}

<head>

    <link rel="stylesheet" href="~/css/cadFunc.css">

</head>

<main class="content-container">
    <form class="form-container container row" method="post" enctype="multipart/form-data" action="Save">
        <section class="left-section col">
            <p>Cadastro de</p>
            <h1><strong>Sensores</strong></h1>

            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input type="submit" class="custom-button" role="button" name="btnEnviar" />
        </section>

        <section class="right-section col row">
            <main class="input-container">

                <div class="input-group-sm mb-3">
                    <br />
                    <input type="hidden" name="id" value="@Model.id" />
                    <label class="control-label">Descrição</label>
                    @if (ViewBag.operacao == "I")
                    {
                        <input asp-for="descricao" class="form-control" maxlength="500" />
                        <span asp-validation-for="descricao" class="text-danger"></span>
                    }
                    else
                    {
                        <input asp-for="descricao" class="form-control" maxlength="500" readonly/>

                    }

                    <label class="control-label">EmpresaId</label>

                    <select asp-for="empresaId" class="form-control">
                        <option value="-1">--Selecione--</option>

                        @foreach(EmpresaViewModel E in ViewBag.empresas)
                        {
                            <option value="@E.id">@E.nome</option>
                        }
                    </select>
                    <span asp-validation-for="empresaId" class="text-danger"></span>
                </div>
        </section>
    </form>
</main>
