@model List<SensorViewModel>

<div class=" row main-section">

	<table class="table table-responsive">
		<tr>
			<th>Ações</th>
			<th>ID</th>
			<th>Descrição</th>
			<th>
				Empresa
			</th>
		</tr>

		@foreach (var sensor in Model)
		{
			<tr>
				<td class="icons">
					<a href="/sensor/edit?id=@sensor.id" role="button" class="btn btn-primary">
						<img src="~/img/EditIcon.png" alt="Editar" style="width:20px; height:20px;">
					</a>
					&nbsp;&nbsp;
					<a href="javascript:apagar(@sensor.id)" role="button" class="btn btn-danger">
						<img src="~/img/TrashIcon.png" alt="Excluir" style="width:20px; height:20px;">
					</a>
				</td>
				<td>@sensor.id</td>
				<td>@sensor.descricao</td>
				<td>@sensor.empresaNome</td>

			</tr>
		}
	</table>
</div>