@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860


    ///Dividir essa View em duas uma para login e outra para cadastro
    /// usar viewbag para isso
*@
@{
}
<head>
      <link rel="stylesheet" href="~/css/cadFunc.css">

</head>
<main class="content-container">
        <section class="left-section">
            <p>Cadastro de</p>
            <h1><strong>Acesso</strong></h1>
            <input type="button" class= "btn" name="btnEnviar" value="Enviar">
        </section>


        <section class="right-section">
            <br>

            <div class="form input-group-sm mb-3">
            <label class = "form-label" >Nome da Empresa</label>
            <input type="text" name="Nome">
            <label class = "form-label" >Senha</label>
            <input type="text" name="Senha">
            </div>
        </section>
    </main>