@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>

    <link rel="stylesheet" href="../css/login.css">

</head>


<main id="pagina_login">
        <h1 class="logo"><img src="../img/Logo.png" alt="Termo-Light"></h1>
        <div>
            <section>
                <h2><strong>Login</strong></h2>
                <label>Nome</label>
                <br>
                <input type="text" name="Nome">
                <br>
                <label>Senha</label>
                <br>
                <input type="text" name="Senha">
                <br>
                <input type="button" name="btnEnviar" click()="btnClick" value="Entrar">

               
            </section>
        </div>
         <br />
                <br />
                <br />
                <br />

    </main>