@model List<ManutencaoViewModel>

<!-- Tabela de Manutenção -->
<section class="manutencao-table-section">

    <!-- Container do gráfico -->
    <div class="chart-container">
        <canvas id="manutencaoChart"></canvas>
    </div>
</section>

    <script>
        // Dados recebidos da ViewBag
        const empresasData = @Html.Raw(ViewBag.EmpresasData);

        // Extração dos dados para o gráfico
    const labels = empresasData.map(item => item.nomeEmpresa); // Usando o nome das empresas como rótulos
    const dataCounts = empresasData.map(item => item.qtdManutencao); // Usando o total como valores
        console.log(empresasData);


        // Aqui, você pode configurar o gráfico usando Chart.js
    const ctx = document.getElementById('manutencaoChart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'bar', // Gráfico de colunas
        data: {
            labels: labels, // Nomes das empresas
            datasets: [{
                label: 'Quantidade de Manutenções',
                data: dataCounts, // Quantidade de manutenções
                backgroundColor: [
                    'rgba(0, 0, 0, 0.8)', 
                    'rgba(0, 0, 255, 0.6)' 
                ],
                borderColor: [
                    'rgba(0, 0, 0, 1)',
                    'rgba(0, 0, 255, 1)' 
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: { beginAtZero: true },
                y: { beginAtZero: true }
            }
        }
    });

    </script>